name: Digger Pull Request Workflow

on:
  workflow_dispatch:
    inputs:
      run_name:
        required: false
      spec:
        description: 'spec input for digger'
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  plan:
    name: Run digger
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: digger run
      uses: diggerhq/digger@vLatest
      with:
        digger-spec: ${{ inputs.spec }}
        disable-locking: true
        setup-terraform: true
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
